<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1> 6.1 Lecture </h1>
  <main id="app"></main>
  <script src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>
